* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f242d;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
    padding-top: 10px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: .5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.menu-icon .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
}

.nav-links {
    display: flex;
}

.nav-links.active {
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .logo {
        font-size: 22px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1f242d;
        z-index: 50;
        transition: transform 0.3s ease;
    }

    .navbar ul.active {
        display: block;
        transform: translateY(0);
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .navbar ul li a {
        font-size: 18px;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.open .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 6px;
    }

    .menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -6px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px 5%;
    }

    .navbar .logo {
        font-size: 18px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1f242d;
        z-index: 50;
    }

    .navbar ul.active {
        display: block;
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 12px 0;
        width: 100%;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.open .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 6px;
    }

    .menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -6px;
    }
}