* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.home-info h1 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.7px #7cf03d;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.bttn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}

.bttn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
    position: relative;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {

    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 0.1px solid #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-item img {
    top: 30px;
    position: absolute;
    display: block;
    width: 120%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


@media (max-width: 1024px) {
    .home {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home-info h1 {
        font-size: 45px;
    }

    .home-info h2 {
        font-size: 28px;
    }

    .home-info p {
        font-size: 14px;
    }

    .home-img .img-box {
        width: 35vw;
        height: 35vw;
    }
}

@media (max-width: 768px) {

    .home-info h1 {
        font-size: 35px;
    }

    .home-info h2 {
        font-size: 24px;
    }

    .home-info p {
        font-size: 12px;
    }

    .bttn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .home-img .img-box {
        width: 45vw;
        height: 45vw;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 20px;
        height: 80vh;
    }

    .home-img {
        padding-top: 10%;
    }

    .home-info h1 {
        font-size: 28px;
    }

    .home-info h2 {
        font-size: 20px;
    }

    .home-info p {
        font-size: 10px;
    }

    .bttn {
        padding: 5px 15px;
        font-size: 12px;
    }

    .home-img .img-box {
        width: 60vw;
        height: 60vw;
    }
}